<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='homePage.css') }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i" rel="stylesheet">

<!-- Chart Js !-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>


<!-- Custom Css -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='hover.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jcf.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='homePage.css') }}">




 <header>
        <div class="row head" onclick="navHome()">
			<div class="col-md-12 mx-auto">
				<div class="text-center homeText">
					<span class="slim">AQUAPONICS</span><span class="thick">&nbsp;IOT</span>
				</div>
			</div>
        </div>
 </header>

<body>

<div class="container pageContainer" id="homeBtnsContainer">
	<div class="row">
		<div class="homeNavBtnCol text-center col-lg-4">
			<div class="btn homeNavBtn text-center hvr-fade">
				<div class="thumbnail" onclick="navPage(this,'Controls')">
				<img class= "homeNavIconImg" src="{{ url_for('static', filename='icons/clock.gif') }}" width="auto" />
        			<div class="caption">
          				<span class="homeIconText">Timing</span>
        			</div>
    			</div>
			</div>			
		</div>

		<div class="homeNavBtnCol text-center col-lg-4">
			<div class="btn homeNavBtn m-x-auto hvr-fade" id="SettingsButton">
				<div class="thumbnail" onclick="navPage(this,'Controls')">
				<img class= "homeNavIconImg" src="{{ url_for('static', filename='icons/settings.gif') }}" width="auto" />
        			<div class="caption" style="margin-top:23px">
          				<span class="homeIconText"> Control </span>
        			</div>
    			</div>
			</div>			
		</div>

		<div class="homeNavBtnCol text-center col-lg-4">
			<div class="btn homeNavBtn m-x-auto hvr-fade">
				<div class="thumbnail" onclick="navPage(this,'Data')">
				<img class= "homeNavIconImg" src="{{ url_for('static', filename='icons/bar-chart.gif') }}" width="auto" />
        			<div class="caption">
          				<span class="homeIconText"> Data </span>
        			</div>
    			</div>
			</div>			
		</div>
	</div>
</div>


<div class="container pageContainer hiddenPage" id="Controls">

	<div class="row">
		<div class="col-md-12 mx-auto">
			<div class="text-center">
				<span class="slim titleNav">Controls</span>
			</div>
		</div>
    </div>
	<hr>
	<!-- START LIGHTS SECTION -->
	<div class="row">
		<div class="col-sm-12 controlsSubHeader">
			Aquarium
		</div>
	</div>
	<hr class="third">
	<!-- START AQUARIUM BTN ROW -->
	<div class="row btnRow">
		<div class="col-lg-6 text-center">
			<div class="row">
				<div class="col-sm-12 buttonTitle">
					LED's
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group" role="group">
					  <button type="button" id="tankLedLights-0" class="btn btn-secondary light-toggle-btn"><span class="lightBtnText">Off</span></button>
					  <button type="button" id="tankLedLights-2" class="btn btn-secondary light-toggle-btn"><span class="lightBtnText">Auto</span></button>
					  <button type="button" id="tankLedLights-1" class="btn btn-secondary light-toggle-btn"><span class="lightBtnText">On</span></button>
					</div>	
				</div>
			</div>
		</div>

		<div class="col-lg-6 text-center">
			<div class="row">
				<div class="col-md-12 buttonTitle">
					Bulbs
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group" role="group">
					  <button type="button" id="tankLights-0" class="btn btn-secondary light-toggle-btn"><span class="lightBtnText">Off</span></button>
					  <button type="button" id="tankLights-2" class="btn btn-secondary light-toggle-btn"><span class="lightBtnText">Auto</span></button>
					  <button type="button" id="tankLights-1" class="btn btn-secondary light-toggle-btn"><span class="lightBtnText">On</span></button>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<!-- END AQUARIUM BTN ROW -->

	<!--START GROW BED LIGHT SECTION-->
	<div class="row">
		<div class="col-sm-12 controlsSubHeader">
			Grow Bed
		</div>
	</div>
	<hr class="third">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="row">
				<div class="col-sm-12 buttonTitle">
					Grow Lights
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="btn-group" role="group">
					  <button type="button" id="growLights-0" class="btn btn-secondary light-toggle-btn"><span class="lightBtnText">Off</span></button>
					  <button type="button" id="growLights-2" class="btn btn-secondary light-toggle-btn"><span class="lightBtnText">Auto</span></button>
					  <button type="button" id="growLights-1" class="btn btn-secondary light-toggle-btn"><span class="lightBtnText">On</span></button>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<!-- END GROW BED LIGHT SECTION -->

	<!--START WATERING SECTION-->
	<div class="row">
		<div class="col-sm-12 controlsSubHeader text-center">
			<p class="text-xs-center text-center">Watering & Draining</p>
		</div>
	</div>
	<hr class="third" style="width: 70% ; margin-left: 15%">
	
	<form id="cycleConfigurationForm">
		<div class="form-row text-center">
		    <div class="form-group col-md-6 text-center" >
		        <label for="sensorThreshold" class="control-label buttonTitle">Sensor Threshold</label>
		        <input type="number" class="form-control configInput" id="sensorThreshold">
		    </div>
		    <div class="form-group col-md-6">
		        <label class="control-label buttonTitle">Maxiumum Water Time</label>
		        <input type="number" class="form-control configInput" id="waterRunInTime">
		    </div>
		</div>
		<div class="form-row text-center">
		    <div class="form-group col-md-6">
		        <label class="control-label buttonTitle">Airration Time</label>
		        <input type="number" class="form-control configInput" id="airrationTime">
		    </div>
		    <div class="form-group col-md-6">
		        <label  class="control-label buttonTitle">Drain Motor Duration</label>
		        <input type="number" class="form-control configInput" id="drainTime">
		    </div>
		</div>
		<div class="form-row text-center">
		    <div class="form-group col-md-6">
		        <label class="control-label buttonTitle">Siphon Clear Time</label>
		        <input type="number" class="form-control configInput" id="dcPulse">
		    </div>
		    <div class="form-group col-md-6" id="passwordContainer">
		    	<label class="control-label buttonTitle">&nbsp</label>
		        <input type="password" class="form-control configInput" id="password" placeholder="PASSWORD">
		    </div>
		    <div class="form-group col-md-6" id="responseContainer" style="display:none">
		    	<label class="control-label buttonTitle">&nbsp</label>
		        <input type="text" class="form-control responseInput" id="response" placeholder="Success">
		    </div>
		</div>
	</form>






	<div class="row" style="margin-top: 33vh;"></div>



</div>


<div class="container pageContainer hiddenPage" id="Data">
    <div class="row">
		<div class="col-md-12 mx-auto">
			<div class="text-center">
				<span class="slim titleNav">Data</span>
			</div>
		</div>
    </div>
	<hr>
    <!-- START WATER IN DATA ROW -->
    <div class="row">
<!--        <div class="col-lg-6">
            <div class="col-sm-12 controlsSubHeader graph-title">
                <div class="text-center">
                    <p> Watering Time <br /> & <br /> Overfill Prevention </p>
                </div>
            </div>
            <hr>
            <div class="col-sm-12">
                <div class="text-left chart-text">
                    The "Maximum Fill Time" is the maximum amount of time
                    that the grow bed is allowed to fill with water before it assumes something is wrong, drains, and enters an error state.
                    <br>
                    This data allows me to monitor how close the average
                    fill time is to my current maximum fill time.
                </div>
            </div>
        </div>-->
		<div class="col-lg-6 graph-container">
            <canvas id="humidity-chart"></canvas>
        </div>
        <div class="col-lg-6 graph-container">
            <canvas id="temperature-chart"></canvas>
        </div>
	</div>
    <!-- END WATER IN DATA ROW -->
	<!-- START DOUGHNUT DATA ROW -->
    <div>
        <div class="row graph-container">
            <div class=" offset-md-3 col-md-3  chart-text">
                <div class="row">
                    Cycle Time: 30min 45s
                </div>
                <div class="row">
                    <span class="blue">Water In:</span> 30min
                </div>
                <div class="row">
                    <span class="orange">Water Out:</span> 30min
                </div>
                <div class="row">
                    <span class="green">Aerate:</span> : 30min
                </div>
            </div>
            <div class="col-md-7">
                <canvas id="doughnut-chart"></canvas>
            </div>
        </div>
<!--        <div class="row">
            <div class="col-sm-12 text-center controlsSubHeader">
            Total Cycle Time :  30min 45 seconds </br> Airration : 30min Airration : 30min Airration : 30min
            </div>
        </div>-->
    </div>
    <!-- END DOUGHNUT DATA ROW -->

</div>


</body>

<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='moment.min.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='homePage.js') }}"></script>

</html>


